<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    height: null ,
                    weight: null
                }
            },
            computed:{
                bmiCalc: function() {
                    var weight = parseInt(this.weight);
                    var height = parseInt(this.height) / 100;
                    var bmi = weight / (height * height)
                    if(bmi < 18.5) {
                      return 'Niskie: ' + bmi.toFixed(2) + ' kg/m2';
                    }
                    else if (bmi >=18.5 && bmi <24.9 ) {
                      return 'Odpowiednie: ' + bmi.toFixed(2) + ' kg/m2';
                    }
                    else if (bmi >=25 ) {
                      return 'Wysokie: ' + bmi.toFixed(2) + ' kg/m2';
                    }
                }
            }   
        })
    </script>
</head>
<body>
    <div id="app" style="margin: 30px">
        <label for="height">Wzrost:</label><br>
        <input type="number" id="height" v-model="height"><br><br>
        <label for="weight">Waga:</label><br>
        <input type="number" id="weight" v-model="weight"><br><br>
        
        <h3>Twoje BMI jest {{ bmiCalc }}</h3>
    </div>

    <!-- Mount app -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>