<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    title:'',
                    name:'',
                    surname:''
                }
            },
            methods: {
                conLog: function() {
                    console.log(this.title + ' ' + this.name + ' ' + this.surname);
                }
            }
        })
    </script>
</head>
<body>
    <div id="app" style="margin: 30px">
        <h2>Informacje o książce</h2>
        <form>
            <label for="title">Tytuł:</label><br>
            <input type="text" id="title" v-model="title"><br><br>
            <label for="name">Imię autora:</label><br>
            <input type="text" id="name" v-model="name"><br><br>
            <label for="surname">Nazwisko autora:</label><br>
            <input type="text" id="surname" v-model="surname"><br><br>
            <input type="button" v-on:click="conLog()" value="Zapisz">
        </form>
    </div>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>